* {
  margin: 0%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

* {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #1A5276;
}

footer {
  background-color: #1A5276;
  height: 10vh;
  color: white;
  padding: 15px;
  justify-content: end;
}

.icono {
  height: 5vh;
}

.menufooter {
  width: 40vh;
}

header {
  background-color: #1A5276;
  color: white;
  height: 10vh;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.logo {
  height: 8vh;
  align-items: center;
}

nav {
  color: white;
  display: flex;
  justify-content: end;
}

ul {
  text-decoration: none;
}

.menuarriba {
  display: grid;
  justify-content: end;
  align-items: center;
}

.botonlogo {
  display: grid;
  width: 30vh;
}

.cuerpoindex {
  height: 80vh;
  background-image: url(../assets/img/fotohotel.png);
  background-size: cover;
}

.bloquelogo {
  display: flex;
  justify-content: center;
}

.logo1 {
  display: flex;
  width: 20rem;
  align-items: center;
  justify-content: center;
}

.botonreservar {
  display: flex;
  justify-content: center;
}

.h2boton {
  font-size: 2rem;
}

.btn-primary {
  display: flex;
  background-color: white;
  color: #1A5276;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.contenedorquienes {
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 80% 10%;
  justify-content: stretch;
  align-items: stretch;
}

.ingquienes {
  height: 60vh;
}

.parrafoquienes {
  background-color: #1A5276;
  color: white;
}

.gespacio {
  grid-column: 1/3;
}

.contenedorapart {
  height: 80vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 70% 10%;
  justify-content: stretch;
  align-items: stretch;
  gap: 3rem;
}

.gespacioapart {
  grid-column: 1/5;
  align-items: center;
}

.card {
  height: 40vh;
  justify-content: center;
  text-align: center;
  font-style: normal;
  align-items: center;
}

.parrafocard {
  font-style: italic;
}

.apart {
  padding: 2rem;
  align-items: center;
  width: 80%;
}

.mainformulario {
  align-content: center;
  height: 80vh;
}

@media (max-width: 750px) {
  /*header;*/
  .header2 {
    position: absolute;
    z-index: 1034;
    justify-content: center;
  }
  .nav-item {
    background-color: #1A5276;
    justify-content: center;
  }
  .navbar-collapse {
    text-align: center;
  }
  /*Index;*/
  .cuerpoindex {
    height: 80vh;
    background-image: url(../assets/img/fotohotelresponsive.png);
    background-size: cover;
  }
  /*Quienes somos;*/
  .contenedorquienes {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto auto;
    justify-content: stretch;
    align-items: stretch;
  }
  .gespacio {
    height: 15vh;
    grid-column: 1/2;
  }
  /*Aparts;*/
  .contenedorapart {
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 40% 40% 5%;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
  }
  .gespacioapart {
    grid-column: 1/3;
    align-items: center;
  }
  .parrafocard {
    font-style: italic;
    font-size: 9pt;
  }
  h3 {
    font-size: 1rem;
  }
  .card {
    height: 35vh;
    width: 25vh;
    align-items: center;
    justify-content: center;
  }
  .apart {
    padding: -1rem;
    align-items: center;
    width: 80%;
  }
  /*Servicios;*/
  .cuerposervicios {
    height: 90vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 10% 65% 10%;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
  }
  .carousel, .carousel-inner, .carousel-control-prev, .carousel-control-next {
    height: 30vh;
  }
  /*reservas;*/
  .mainformulario {
    align-content: center;
    height: 90vh;
  }
  .espacioreservas {
    height: 20%;
  }
}
.textoserv {
  background-color: #1A5276;
  position: end;
}

.espacioserv1 {
  height: 1vh;
  display: flex;
}

.espacioserv2 {
  height: 1vh;
  display: flex;
}

/*Servicios
.carousel, .carousel-inner, .carousel-control-prev, .carousel-control-next {
    height: 70vh;
    width: auto;
  }

;*/

/*# sourceMappingURL=style.css.map */
