@media (max-width: 750px) {


    /*header;*/

    .header2 {
        position: absolute;
        z-index: 1034;
        justify-content: center;
    }


    .nav-item {
        background-color: #1A5276;
        justify-content: center;
    }

    .navbar-collapse {
        text-align: center;
    }


    /*Index;*/


    .cuerpoindex {
        height: 80vh;
        background-image: url(../assets/img/fotohotelresponsive.png);
        background-size: cover;
    }

    /*Quienes somos;*/
    .contenedorquienes {
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% auto auto;
        justify-content: stretch;
        align-items: stretch;

    }

    .gespacio {
        height: 15vh;
        grid-column: 1/2;
    }

    /*Aparts;*/

    .contenedorapart {
        height: 90vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 40% 40% 5%;
        justify-content: stretch;
        align-items: stretch;
        gap: 1rem;
    }

    .gespacioapart {
        grid-column: 1/3;
        align-items: center;
    }

    .parrafocard {
        font-style: italic;
        font-size: 9pt;
    }

    h3 {
        font-size: 1rem;
    }

    .card {
        height: 35vh;
        width: 25vh;
        align-items: center;
        justify-content: center;


    }

    .apart {
        padding: -1rem;
        align-items: center;
        width: 80%;}

    /*Servicios;*/

    .cuerposervicios {
        height: 90vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 10% 65% 10%;
        justify-content: stretch;
        align-items: stretch;
        gap: 1rem;
    }


    
    .carousel, .carousel-inner, .carousel-control-prev, .carousel-control-next {height: 30vh;}




    /*reservas;*/
    .mainformulario {
        align-content: center;
        height: 90vh;
    }

    .espacioreservas {
        height: 20%;
    }

}