.contenedorapart{
    height: 80vh;
    display: grid;
grid-template-columns: 25% 25% 25% 25%; 
grid-template-rows: 10% 70% 10%;
justify-content: stretch;
align-items: stretch;
gap: 3rem;
}


.gespacioapart{grid-column: 1/5;
align-items: center;}


.card {
    height: 100%;
    justify-content: center;
    text-align: center;
    font-style: normal;
}

.parrafocard {
    font-style: italic;
}
.apart{width: 80%;}