.contenedorserv{
    height: 80vh;
    display: grid;
grid-template-columns: 33% 33% 33%; 
grid-template-rows: 10% 70% 10%;
justify-content: stretch;
align-items: stretch;
gap: 3rem;
}


.gespacioserv{grid-column: 1/4;
align-items: center;}


.cardserv {
    display: grid;
   
    justify-content: center;
    text-align: center;
    font-style: normal;
    align-items: center;
}
.imgserv{width: 80%;
}

