footer {
    background-color: #1A5276;
    height: 10vh;
    color: white;
    padding: 15px;
    justify-content: end;
}

.icono {
    height: 5vh;
}

.menuabajo {
    display: flex;
    justify-content: space-around;
}