

header {
    background-color: #1A5276;
    color: white;
    height: 10vh;
    padding: 15px;
    display:flex;
    align-items: center;
}

.logo {
   
    height: 8vh;
    display: flex;
}

nav {color: white;
    display: flex;
justify-content: end;}

ul{ text-decoration: none;}