

header {
    background-color: #1A5276;
    color: white;
    height: 10vh;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
   
}

.logo {
   
    height: 8vh;

    align-items: center;
}

nav {color: white;
    display: flex;
justify-content: end;}

ul{ text-decoration: none;}



.menuarriba{ display: grid;
    justify-content: end;
    align-items: center;}

.botonlogo {display: grid;
    width: 30vh;
}